<div class="text-center"><h1>Reviews</h1></div>
<div class="container padded">
  <div class="col-sm-12">
    <% @reviews.each do |review| %>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    <% end %>
  </div>
</div>

<br>
<div class="text-center">
<%= link_to 'back to restaurant', restaurant_path(params[:restaurant_id]) %>
</div>
